.timelineSeries_circ {
    stroke: black;
    stroke-width: 2;
    fill: white !important;
}

#succ {
    stroke: black;
    fill: black !important;
}

#nevime {
    stroke: silver;
    fill: silver !important;
}